<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <style type="text/css">

            table
        {
            border-collapse:collapse;
        }

         td
        {
            border: 1px solid black;
        }

        td
        {
            padding: 10px;
        }

        th
        {
            background-color:#333;
            color:#fff;
            border-radius: 10px 10px 0 0;
        }
</style>

</head>
<body>
<table>
    <tr>
        <th>
            id
        </th>
        <th>
            name
        </th>
        <th>
            receipt_date
        </th>
        <th>
            price
        </th>
        <th>
            unit
        </th>
        <th>
            provider
        </th>
        <th>
            category
        </th>
        <th>
            category1
        </th>
        <th>
            site
        </th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.receipt_date }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.unit }}</td>
            <td>{{ object.provider }}</td>
            <td>{{ object.category.value }}</td>
            <td>
                {% for o in object.category1.all %} {{ o.value }} {% endfor %}
            </td>
            <td>{{ object.site }}</td>

        </tr>
    {% endfor %}
</table>

    {% for object in category %}
            <a href="{% url 'category' object.pk %}"> {{ object.value }}</a>

    {% endfor %}
</body>
</html>